@import url(https://fonts.googleapis.com/css?family=Syne:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Syne", sans-serif;
}
#coming{
    background-image: url(./assets/images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.react-responsive-modal-modal{
    background-color: rgb(92, 169, 227);
    border-radius: 5px;
}